<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{labels.level}}
        </li>
        <li>
          {{labels.school}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{{description}}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "PF1.SpellDetails"}}</h3>

      {{!-- Spellbook --}}
      {{#if owner}}
      <div class="form-group">
        <label>{{localize "PF1.SpellBook"}}</label>
        <select name="data.spellbook">
          {{#select data.spellbook}}
          {{#each spellbooks as |spellbook a|}}
          <option value="{{a}}">{{spellbook.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{else}}
      <input type="hidden" name="data.spellbook" value="primary"/>
      {{/if}}

      {{!-- Spell Level --}}
      <div class="form-group">
        <label>{{localize "PF1.SpellLevel"}}</label>
        <select name="data.level" data-dtype="Number">
          {{#select data.level}}
          {{#each config.spellLevels as |name lvl|}}
          <option value="{{lvl}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      
      <div class="form-group stacked">
        <label>{{localize "PF1.LearnedAt"}}</label>

        <div class="data-selector">
          <a class="entry-selector" for="data.learnedAt.class" data-fields="{{localize "PF1.CasterLevel"}};{{localize "PF1.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="data.learnedAt.class">{{localize "PF1.CasterLevel"}}</label>
        </div>

        <div class="data-selector">
          <a class="entry-selector" for="data.learnedAt.domain" data-fields="{{localize "PF1.Domain"}};{{localize "PF1.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="data.learnedAt.domain">{{localize "PF1.Domain"}}</label>
        </div>

        <div class="data-selector">
          <a class="entry-selector" for="data.learnedAt.subDomain" data-fields="{{localize "PF1.SubDomain"}};{{localize "PF1.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="data.learnedAt.subDomain">{{localize "PF1.SubDomain"}}</label>
        </div>

        <div class="data-selector">
          <a class="entry-selector" for="data.learnedAt.bloodline" data-fields="{{localize "PF1.Bloodline"}};{{localize "PF1.Level"}}" data-dtypes="String;Number"><i class="fas fa-edit"></i></a>
          <label for="data.learnedAt.bloodline">{{localize "PF1.Bloodline"}}</label>
        </div>
      </div>

      {{!-- Spell School --}}
      <div class="form-group">
        <label>{{localize "PF1.SpellSchool"}}</label>
        <select name="data.school">
          {{#select data.school}}
          {{#each config.spellSchools as |name sch|}}
          <option value="{{sch}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Subschool and type --}}
      <div class="form-group flexrow">
        <label>{{localize "PF1.SubSchool"}}</label>
        <input type="text" name="data.subschool" value="{{data.subschool}}" Placeholder="{{localize "PF1.SubSchoolExample"}}"/>
        <label>{{localize "PF1.TypePlural"}}</label>
        <input type="text" name="data.types" value="{{data.types}}" Placeholder="{{localize "PF1.SpellTypesExample"}}"/>
      </div>

      {{!-- Misc --}}
      <div class="spell-misc form-group stacked">
        <label>{{localize "PF1.Misc"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.sr" {{checked data.sr}}/> {{localize "PF1.SpellResistance"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.atWill" {{checked data.atWill}}/> {{localize "PF1.SpellPrepAtWill"}}
        </label>

        {{#if owner}}
        <label class="checkbox">
          <input type="checkbox" name="data.showInQuickbar" {{checked data.showInQuickbar}}/> {{localize "PF1.ShowInQuickbar"}}
        </label>
        {{/if}}
      </div>

      {{!-- Spell Components --}}
      <div class="spell-components form-group stacked">
        <label>{{localize "PF1.SpellComponents"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.verbal" {{checked data.components.verbal}}/> {{localize "PF1.SpellComponentVerbal"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.somatic" {{checked data.components.somatic}}/> {{localize "PF1.SpellComponentSomatic"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.material" {{checked data.components.material}}/> {{localize "PF1.SpellComponentMaterial"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.focus" {{checked data.components.focus}}/> {{localize "PF1.SpellComponentFocus"}}
        </label>
      </div>

      {{!-- Divine Focus --}}
      <div class="divine-focus form-group stacked">
        <label>{{localize "PF1.SpellComponentDivineFocus"}}</label>
        <select name="data.components.divineFocus" data-dtype="Number">
          {{#select data.components.divineFocus}}
          {{#each config.divineFocus as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Misc Components --}}
      <div class="misc-components form-group stacked">
        <label>{{localize "PF1.SpellComponentsMisc"}}</label>
        <input type="text" name="data.components.value" value="{{data.components.value}}"/>
      </div>

      {{!-- Material Components --}}
      {{#if data.components.material}}
      <div class="form-group stacked">
        <label>{{localize "PF1.SpellcastingMaterials"}}</label>
        <input class="materials" type="text" name="data.materials.value" value="{{data.materials.value}}"/>
      </div>
      {{/if}}

      {{#if data.components.focus}}
      <div class="form-group stacked">
        <label>{{localize "PF1.SpellcastingFocus"}}</label>
        <input class="focus" type="text" name="data.materials.focus" value="{{data.materials.focus}}"/>
      </div>
      {{/if}}

      {{!-- Prepared Spells --}}
      {{#if isPreparedSpell}}
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "PF1.CastsLeft"}}</label>
          <div class="form-fields">
            <input type="text" name="data.preparation.preparedAmount" value="{{data.preparation.preparedAmount}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="form-fields">
          <label>{{localize "PF1.SpellPrepPrepared"}}</label>
          <div class="form-fields">
            <input type="text" name="data.preparation.maxAmount" value="{{data.preparation.maxAmount}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
      {{else}}
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="data.prepared.spontaneousPrepared" {{checked data.prepared.spontaneousPrepared}}> {{localize "PF1.SpellPrepPrepared"}}
        </label>
      </div>
      {{/if}}

      {{#unless isAtWill}}
      <div class="spell-misc form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="data.preparation.autoDeductCharges" {{checked data.preparation.autoDeductCharges}}/> {{localize "PF1.AutoDeductCharges"}}
        </label>
      </div>
      {{/unless}}

      {{!-- Caster Level Offset --}}
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "PF1.CasterLevelOffset"}}</label>
          <div class="form-fields">
            <input type="text" name="data.clOffset" value="{{data.clOffset}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      {{!-- Spell Level Offset --}}
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "PF1.SpellLevelOffset"}}</label>
          <div class="form-fields">
            <input type="text" name="data.slOffset" value="{{data.slOffset}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      <h3 class="form-header">{{localize "PF1.SpellCasting"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.html"}}

      <h3 class="form-header">{{localize "PF1.SpellEffects"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.html"}}

      <h3 class="form-header">{{localize "PF1.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/pf1/templates/items/parts/item-template.html"}}

      {{!-- Spell Description --}}

      <h3 class="form-header">{{localize "PF1.Description"}}</h3>

      {{editor content=shortDescription target="data.shortDescription" button=true owner=owner editable=editable}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.html"}}
    </div>
  </section>
</form>
